[Unit]
Description=Minecraft Bedrock Web GUI
After=network-online.target

[Service]
User=userxname
WorkingDirectory=/home/USER/control-panel
Type=forking
ExecStartPre=+/bin/chown -R userxname /home/USER/control-panel
ExecStart=/bin/bash /home/USER/control-panel/start.sh
ExecStop=/bin/bash /home/USER/control-panel/stop.sh
GuessMainPID=no
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target