<main id="vs-console">
    <div id="vs-console-screen">
        <div class="msg">Donec accumsan ornare massa in sodales. Curabitur eget pretium magna. Aliquam erat volutpat. Nam ut erat non ante accumsan molestie.</div>
         <div class="msg">Mauris ac orci vulputate, commodo mauris bibendum, aliquam mauris. Curabitur ut molestie magna. Praesent efficitur urna augue, ut dignissim est dignissim vel.</div>
    </div>
    <div class="input-group">
        <input type="text" class="form-control w-75 bg-dark border-dark text-light" aria-label="Text input with segmented dropdown button">
        <button type="button" class="btn btn-success">Send</button>
        <select class="form-select bg-dark border-dark text-light" id="server-select" aria-label="Example select with button addon">
            <option selected>Choose Server</option>
            <option value="1">Server A</option>
            <option value="2">Server B</option>
        </select>
    </div>
</main>